.home {
    padding-top: 115px;
    height: 100vh;
}
.hero__home{
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
}

.img__smaller {
    width: 30px;
    height: 30px;
}

.img__wave {
    animation: shake 1s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(2px);
    }
}

.image__container {
    margin: auto;
    text-align: center;
}

.profile__image {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.typewriter__text {
    color: var(--hover-color);
}

.footer__social {
    justify-content: center;
    margin-top: 25px;
}

.footer__icon {
    margin: 0 15px;
    color: var(--dark-color);
}

.footer__icon:hover {
    color: var(--hover-color);
}

/* Media query for screens smaller than 768px (typical tablets) */
@media screen and (max-width: 768px) {
    .home {
        padding-top: inherit;
    }

    .image__container {
        text-align: center;
    }

    .profile__image {
        width: 250px;
    }

    .typewriter__text {
        font-size: 18px;
    }

    .footer__icon {
        margin: 0 10px;
    }
}

/* Media query for screens smaller than 576px (typical mobile devices) */
@media screen and (max-width: 576px) {
    .home {
        padding-top: inherit;
        margin-bottom: -100px;
    }

    .image__container {
        text-align: center;
    }
    
    .profile__image {
        margin-top: 30px;
        width: 200px;
    }

    .typewriter__text {
        font-size: 16px;
    }

    .footer__icon {
        margin: 0 8px;
    }
}