.tech__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
}


.tech__icons {
    margin-top: 20px;
}

.icons:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.icons {
    margin: 15px;
    cursor: pointer;
}

.align {
    margin-left: 50px;
}
