@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:ital,wght@1,700&family=Poppins:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Inter, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #F9F9F9;
  --dark-color: #333333;
  --hover-color: #ff1717;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.divider {
  background-color: var(--secondary-color);
}

.heading {
  font-weight: 100;
}

.horizontal__line {
  border: 2px solid var(--dark-color);
  margin-top: 10px;
}